{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "jest/globals": true
  },
  "plugins": [
    "import",
    "react",
    "jest"
  ],
  "rules": {
    "import/extensions": 2
  },
  "parserOptions": {
    "ecmaFeatures": {
        "modules": true
    }
  }
}
